# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.local
.venv
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

# SQLite
*.db
*.sqlite
*.sqlite3

# Alembic
/migrations/versions/*
!/migrations/versions/.gitkeep
